.jd-data {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  gap: 40px;
  justify-content: space-between;
}

.jd-title {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 10px;
}

.jd-contents {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 10px;
  overflow: auto;
}

.jd-company-name {
  font-size: x-large;
  font-weight: 600;
}


.jd-jobs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.jd-deadline {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 20px 0px;
}

.jd-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}