.ct {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 20px;
  width: 100%;

}

.q {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 20px;
}

tr {
  text-align: center;
}
