.paperHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    padding: 30px;
}

.testHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    padding: 30px;
}

.interviewHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    padding: 30px;
}

.paperBody {
    background-color: rgb(245, 245, 245);
    height: 500px;
}

.testBody {
    background-color: rgb(245, 245, 245);
    height: 500px;
}

.interviewBody {
    background-color: rgb(245, 245, 245);
    height: 500px;
}

