

.test-body {
  background-color: rgb(222, 236, 255);
}

.interview-body {
  background-color: rgb(198, 207, 255);
}

.select-template {
  border-radius: 10px;
  padding: 10px;
}

.navy {
  .call-master {
    width: 100px;
    height: 20px;
  }
}