
// 버튼
.navy {
    color: rgb(245, 245, 245);
    background-color: rgb(77, 76, 125);
}

.gray {
    color: black;
    background-color: rgb(245, 245, 245);
}


// 드롭다운

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    position: relative;
    
    .dropdownName {
      border: 0.5px solid rgb(198, 198, 198);
      height: 35px;
      font-size: 14px;
      border-radius: 10px;
      background-color: #fff;
    }
    
    .dropdownList {
      position:absolute;
      text-align: center;
      padding: 15px 0px;
      margin: 5px 0px;
      font-size: 300;
      right: 0;
      left: 0;
      top: 30px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-5px);
      transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
      z-index: 2;
      border: 0.5px solid black;
      background: #fff;
      border-radius: 3%;
    
    }
    .dropdownList.down {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      z-index: 1000;
  
      li {
        font-size: 14px;
        margin: 5px 0px;
        cursor: pointer;
      }
    }
  }
  
  ul {
    list-style-type: none;
  }
  
  ul > li {
    font-size: 14px;
    cursor: pointer;
  }
  
  hr {
    background-color: rgb(255, 253, 253);
    margin: 10px;
  }

  $inputBackgroundColor: rgb(77, 76, 125);
  $inputHeight: 30px;
  $inputWidth: 100px;  

  // rgb(77, 76, 125)
  .inputDate {
    display: flex;
    align-Items: center;
    text-align: center;
    background-color: $inputBackgroundColor;
    border: none;
    border-radius: 5px;
    height: $inputHeight;
    width: $inputWidth;
    color: white;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.react-datepicker__month-container{

    .react-datepicker__header {
        background-color: rgb(77, 76, 125);
        color: rgb(245, 245, 245);
        border: none;
        border-radius: 0;

        .react-datepicker__current-month {
            color: rgb(245, 245, 245);
            font-size: 15px;
        }
  
        .react-datepicker__day-names {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          
  
          .react-datepicker__day-name {
            color: rgb(245, 245, 245);
            font-size: 13px;
          }
        }
      }
    }
    .react-datepicker__triangle {
      display: none;
    }
    .unselectedDay {
        color: rgb(77, 76, 125);

      }
    .react-datepicker__day--in-range{
      color:#fff;
      background-color: #7077A1;
    }
      
    .selectedDay {
    background-color: #7077A1;
    border-radius: 50%;
    
    &:hover {
        border-radius: 50%;
        background-color:rgb(77, 76, 125);
    }
      }
      
      .unselectedDay {
        &:hover {
          border-radius: 50%;
          color: white;
          background-color: #9da4c8;
        }
      }

.filter-box {
  display: flex;
  width: 270px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid rgb(203, 203, 203);
  box-shadow: 5px 5px 5px -5px gray;

  align-items: center;
  justify-content: space-evenly;
  ;

}

.filter-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}