.steps {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    height: 100px;
}

.paperstep {
    display: flex;
    flex-direction: column;
    background-color: rgb(181, 251, 228);
    width: calc(100% / 3);
    padding: 5px 10px;
}

.teststep {
    display: flex;
    flex-direction: column;
    background-color: rgb(181, 251, 195);
    width: calc(100% / 3);
    padding: 5px 10px;
}

.interviewstep {
    display: flex;
    flex-direction: column;
    background-color: rgb(181, 203, 251);
    width: calc(100% / 3);
    padding: 5px 10px;
}