@mixin steps-box {
  font-weight: 550;
  border-radius: 5px 5px 5px 0px;
  color: rgb(54, 48, 98);
  background-color: rgb(243, 248, 255);
}

.step-wrapper {
  height: 100%;
}

.types {
  display: flex;
  flex-wrap: wrap;
  ul {
    display: flex;
  }
}

.step-tabs {
  display: flex;
  height: 50px;

}

.step-tab {
  flex: 1;
  display: flex;
  height: 50px;
  padding: 5px 15px;

}

.step-tab.Paper {
  @include steps-box;
  background-color: rgb(243, 248, 255);
}

.step-tab.Test {
  @include steps-box;
  background-color: rgb(222, 236, 255);
}

.step-tab.Interview {
  @include steps-box;
  background-color: rgb(198, 207, 255);
}

.steps {
  display: flex;
  flex-direction: row;
  height: 70px;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  width: calc(100% / 3);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7%;
}

.title {
  font-weight: bold;
}



  
  ul {
    list-style-type: none;
  }
  
  ul > li {
    // font-size: 14px;
    cursor: pointer;
  }
