.add-process {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.date {
  background-color: #fff;
  border: 0.5px solid rgb(203, 203, 203);
  border-radius: 8px;
  text-align: center;
  width: 130px;
  height: 35px;
  color: rgb(99, 99, 99);
  cursor: pointer;
  &:focus {
    outline: none;
}
}

.selectType {
  width: 270px;
  height: 38px;
  padding: 10px;
  border-radius: 8px;
  border-color: rgb(203, 203, 203);
  
  &:focus {
    outline: none;
  }
}

.input-company {
  border: 0.5px solid rgb(203, 203, 203);
  border-radius: 5px;
  padding: 0px 10px;
  width: 270px;
  height: 38px;
}

.input-datas {
  display: flex;
  flex-direction: column;
  gap: 30px;
}