.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  position: relative;
  
  .dropdownName {
    border: 0.5px solid rgb(198, 198, 198);
    height: 35px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .dropdownList {
    position:absolute;
    text-align: center;
    padding: 15px 0px;
    margin: 5px 0px;
    font-size: 300;
    right: 0;
    left: 0;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    z-index: 2;
    border: 0.5px solid black;
    background: #fff;
    border-radius: 3%;
  
  }
  .dropdownList.down {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 1000;

    li {
      font-size: 14px;
      margin: 5px 0px;
      cursor: pointer;
    }
  }
}

ul {
  list-style-type: none;
}

ul > li {
  font-size: 14px;
  margin: 5px 0px;
  cursor: pointer;
}

hr {
  background-color: rgb(255, 253, 253);
  margin: 10px;
}


.date {
  background-color: #fff;
  border: 0.5px solid black;
  border-radius: 8px;
  text-align: center;
  width: 130px;
  height: 35px;
  color: black;
  cursor: pointer;
  &:focus {
    outline: none;
}
}