.job-filter {
  width: 270px;
  height: 38px;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(203, 203, 203);
  box-shadow: 5px 5px 5px -5px gray;
  
  &:focus {
    outline: none;
  }
}

.date-filter {
  width: 270px;
  height: 38px;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(203, 203, 203);
  box-shadow: 5px 5px 5px -5px gray;

  &:focus {
    outline: 0;
  }
}

.search-filter {
  width: 270px;
  height: 38px;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid black;
  border-color: rgb(203, 203, 203);
  box-shadow: 5px 5px 5px -5px gray;
}