.calendarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px 15px;
    background-color: rgb(77, 76, 125);
    color: rgb(245, 245, 245);
    border-radius: 3px;
    box-shadow: 5px 5px 5px -5px gray;
}

.yyyymm {
    display: flex;
    flex-direction: row;
    font-size: large;
    font-weight: 600;

}

.arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 40px;

}